@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.container h2 {
  color: rgba(255, 255, 255, .8);
  margin-left: 12px;
}

body {
  background: #272125;
  font-family: 'Roboto', sans-serif;

}

.container {
  position: relative;
  width: 380px;
  height: auto;
  top: 40vh;
  transform: translate(-50%, -50%);
  left: 50vw;
  text-align: center;
}

input {
  padding: 16px;
  border-radius: 7px;
  border: 0px;
  background: rgba(255, 255, 255, .2);
  display: block;
  margin: 15px;
  width: 300px;
  color: white;
  font-size: 18px;
  height: 54px;
}

input:focus {
  outline-color: rgba(0, 0, 0, 0);
  background: rgba(255, 255, 255, .95);
  color: #e74c3c;
}

button {
  float: right;
  height: 121px;
  width: 50px;
  border: 0px;
  background: #e74c3c;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-size: 22px;
}

.inputUserIcon {
  position: absolute;
  top: 68px;
  right: 80px;
  color: white;
}

.inputPassIcon {
  position: absolute;
  top: 136px;
  right: 80px;
  color: white;
}

input::-webkit-input-placeholder {
  color: white;
}

input:focus::-webkit-input-placeholder {
  color: #e74c3c;
}

.movieCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border: 2px solid #e74c3c;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition-duration: 250ms;
}

.movieCard img {
    width: 200px;
}

.movieCard:hover {
  box-shadow: 0px 10px 15px 24px rgba(0, 0, 0, 0.1);
}
